
html, body {
 margin:0;
 padding:0;
 }
.button4 {
  border-radius: 12px;
  background-color: #BB66BF;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor:pointer;
}


li{
	list-style: none;
}

#headerText{
  font-family: 
  color:#7B28A2;
}

#menuBar1{
  background-image: url("images_css/Placement_Area_ASSETheroSIZEDe.png");
  background-position: top;
  background-repeat:no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
  padding-top: 2%;
}

header{
  text-align: center;


}





#block1{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;

}
#container1{
  text-align: center;
  margin-bottom: 50px;
}

#container2{
  max-height: 750px;
}

#column1{
  margin-left: 3%;
}
#column3{
  margin-right: 3%;
}

#sepator1{
  color: #B25DBB;
  background-color:#B25DBB;
  width: 100px; 
  margin-bottom: 40px;
}
#sepator2{
  color: #B25DBB;
  background-color:#B25DBB;
  width: 100px; 
}
#video1{
  width: 100%;
  max-height: 750px;
  outline: none;
}

}

#presentation1{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
   margin-right: 50px;
   margin-top: 50px;

}

#descriptifText{
  padding-left: 2%;
  background-color: #C488B6;
  margin-right: 10%;
  padding-top: 65px;
  padding-bottom: 50px;


}

#discordGroup1{
    display: flex;
    margin-bottom: 5%;
    justify-content: space-around;
}

#discordGroup2{
    display: flex;
    justify-content: space-around;
}

#groupInformation{
  margin-left: 10%;
}
#groupeRessources{
  margin-right: 10%;
}



#container3{
  display: flex;
  justify-content: space-between;
}


#container4{

background-color: #BB66BF;
display: flex;
justify-content: space-between;
padding-top: 75px;
padding-bottom: 75px;
}

#imagePsyFi{
  margin-bottom: 5%; 
}

#footerText1{
  margin-left: 10%;
  vertical-align:middle;
}

#footerText2{
display: flex; 
margin-right: 5%;
vertical-align:middle;

}

#confidentialite{
  margin-right: 20px;
}

#menuBlock{
  display: flex;
}

footer{
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  background-color: #FFDEDE;
  display: flex;
  justify-content: space-between;

}