html, body {
  margin: 0;
  padding: 0;
}

#actionButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

#actionButton input {
  margin-right: 1%;
  margin-left: 1%;
  width: 20%;
  font-size: 22px;
}

#actionButton input[type="button"] {
  background-color: grey;
}

body {
  position: relative;
}

li {
  list-style: none;
}

input[type="checkbox"] {
  transform: scale(2);
  /*zoom: 1.5;*/
}

.section-gestion-utilisateurs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#globalPage {
  display: block;
}

table {
  overflow: auto;
  margin-top: 5px;
  width: 100%;
  border-spacing: 0px 30px;
  background-color: white;
  margin-bottom: 20px;
  font-size: 22px;
}

input {
  background-color: white;
  border: none;
  font-size: 20px;
}

#gestionUtilisateur {
  padding-bottom: 20px ;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 2%;
  width: 100%;
  padding-left: 2%;
  min-height: 60vh;
  margin-bottom: 3%;
  box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
  margin-top: 2%;
}

.text2 {
  border-bottom: solid purple;
}

h1 {
  font-size: 50px;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

#subTable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.page-item {
  border: 1px solid black;
  margin: 0 4px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  border-radius: 5px;
  min-width: 30px;
}

a {
  font-size: 40px;
}

.page-items {
  border: 1px solid black;
  padding: 8px;
  margin: 0 4px;
  text-align: center;
  border-radius: 5px;
  min-width: 30px;
}

div {
  border: 2px border black;
}

td, th {
  padding-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

form {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

textarea {
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
}

select {
  padding-top: 1%;
  padding-bottom: 1%;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 90%;
}

section {
  display: block;
}

.popUp {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 851px) {
  #actionButton input {
    width: 85%;
  }
  .checkboxButton {
    margin-right: 23px;
  }
  td, th {
    padding-left: 0px;
    padding-right: 0px;
  }
  #gestionUtilisateur {
    width: 100%;
  }
  .responsiveTable {
    display: none;
  }
  #actionButton {
    flex-direction: column;
    align-items: center;
  }
  #actionButton input {
    margin-bottom: 2%;
  }
  h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 300px) {
  .responsiveTable2 {
    display: none;
  }
  #gestionUtilisateur {
    padding: 0px;
  }
}

.form-perm {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form-perm>* {
  margin: 0px 20px;
  width: auto;
}

.form-button {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.form-button > *{

      display: flex;
      width: auto;
  }