footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(71, 0, 34);
}

footer a {
  color: inherit;
}

section {
  width: 100%;
  display: flex;
}

.footer-general {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 50px 0px;
}

.footer-column {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 0px 20px;
}

.last-footer {
  color: white;
  background-color: rgb(54, 0, 26);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2px 0px;
}

@media (min-width: 900px) {
  .last-footer {
    flex-direction: row;
  }
  .footer-general {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}