html, body {
  margin: 0;
  padding: 0;
}

.banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("images_css/Placement_Area_ASSETheroSIZEDe.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10%;
}

.button {
  border-radius: 30px;
  background-color: #aa3558;
  color: white;
  font-size: 3.5vw;
  border: none;
}

  letter-spacing: 0.2px;
  padding: 10px 20px;
  margin: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.discord-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.button:hover{
  transition: all 0.2s ease 0s;
  background-color: #6d2339;
  letter-spacing: 1px;
}

.button:active {
  transition: all 0.1s ease 0s;
  background-color: rgb(184, 38, 99);
  letter-spacing: 0px;
}

.headerText {
  margin-top: 150px;
  color: #972467;
  font-size: 40px;
}

.who {
  margin-bottom: 5px;
}

.headerPresentation {
  text-align: center;
  padding: 0px 10px;

}

.menuBar1 {
  position: sticky;
  top: 0px;
  z-index: 1000;
  display: flex;
  height: 0px;
  padding: 0px;
  width: 100%;
  justify-content: center;
}

.menuBar1 div {
  width: 100%;
}

header {
  text-align: center;
  position: absolute;
  top: 0px;
  width: 100%;
}

section {
  padding-top: 20px;
}

h2 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.block1 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}

.container1 {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 50px 0px;
}

.container2 {
  max-height: 750px;
}

.column1 {
  display: flex;
  flex-direction: column;
}

.column1 > div {
  margin: 10px;
}

.column3 {
  margin-right: 3%;
}

.separator {
  background-color: #972467;
  width: 100px;
  height: 1px;
  margin-bottom: 40px;
}

.video1 {
  max-height: 750px;
  width: auto;
}

.container3 {
  display: flex;
  padding: 0px;
  flex-direction: column-reverse;
}

.descriptifText {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.presentation1 {
  display: flex;
  flex: 2;
  padding: 20px 0px;
}

.psy-icon {
  display: none;
  flex: 0;
}

.presentation1 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.descriptifText {
  padding: 50px 30px 30px 30px;
  background-color: #972467;
}

.discordGroup {
  display: flex;
  margin-bottom: 5%;
  justify-content: space-around;
}

.discordGroup>div {
  margin: 10px;
}

.groupInformation {
  margin-left: 10%;
}

.groupeRessources {
  margin-right: 5%;
  margin-left: 5%;
}

.footerText1 {
  margin-left: 10%;
  vertical-align: middle;
}

.footerText2 {
  display: flex;
  margin-right: 5%;
  vertical-align: middle;
}

.confidentialite {
  margin-right: 20px;
}

.menuBlock {
  display: flex;
}

p, a {
  font-size: 3.5vw;
}

/*Media queries*/

@media (min-width: 550px) {
  p, a, .button {
    font-size: 3vw;
  }
}

@media (min-width: 900px) {
  .block1 {
    flex-direction: row;
  }
  .headerPresentation {
    text-align: left;
  }
  p, a, .button {
    font-size: 2vw;
  }
  .container3 {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .psy-icon {
    display: flex;
    flex: 1;
  }
  .imagePsyFi {
    object-fit: scale-down;
  }
  p, a, .button {
    font-size: 20px;
  }
}