.forum-background {
    min-height: 80vh;
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.forum-container {
    width: 80%;
    min-height: 100%;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
}

.forum-header {
    padding: 0px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forum-body {
    border-radius: 5px;
    min-height: 50vh;
    margin-top: 20px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.forum-body>div {
    margin: 20px 0px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: auto;
}

.forum-submit {
    display: flex;
    justify-content: right;
}

.must-fill {
    font-size: 12px;
    color: red;
    display: none;
}

.topic-box {
    display: flex;
    margin: 20px;
    height: 70px;
    padding: 5px 20px;
}

.topic-box * {
    margin: 0px;
}

.topic-left {
    display: flex;
    flex: 2;
    justify-content: space-between;
    padding-right: 20px;
    border-right: 1px gray solid;
}

.topic-right {
    display: flex;
    flex: 1;
    padding-left: 20px;
}

.topic-origin-info, .topic-stat, .topic-recent-data, .topic-recent-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic-recent-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-recent-data {
    margin-left: 10px;
}

.topic-stat {
    align-items: flex-end;
}

img.topic-img {
    width: 40px;
}

.msg-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.msg-data {
    display: flex;
    flex-direction: row;
}

.msg-meta {
    display: flex;
    flex-direction: row;
    background-color: rgb(197, 197, 197);
    justify-content: space-between;
}

.msg-user, .msg-info {
    display: flex;
    padding: 0px 20px;
    text-align: center;
    align-items: center;
}

.msg-suppr, .msg-edit{
    padding: 8px 18px;
    text-align: center;
    align-items: center;
    margin: 0px 5px;
    background-color: rgb(231, 231, 231);
    color: rgb(80, 80, 80);
}


.msg-suppr:hover, .msg-edit:hover {
    letter-spacing: 0.2px;
    color: white;
    background-color: #aa3558;
}

p {
    margin: 0px;
}

.msg-tools {
    display: flex;
    justify-content: right;
    flex-direction: row;
    padding: 3px;
}

.msg-text {
    display: flex;
    padding: 20px;
    width: 80%;
}

.msg-text * {
    text-overflow: ellipsis;
    overflow: hidden;
}

.msg-user {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    padding: 30px 5px 5px 5px;
    width: 200px;
    height: 200px;
    position: relative;
}

.msg-user * {
    margin: 0px;
}

.msg-author {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
}

.msg-profile {
    width: 100px;
}

.msg-modified {
    margin-left: 5px;
}

.response-container {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    flex-direction: column;
}

.response-field {
    display: flex;
    flex-direction: row;
}

.response-submit {
    display: none;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.must-fill-response {
    font-size: 12px;
    color: red;
    display: none;
    margin: 5px 75px;
}

.small-img {
    width: 60px;
    height: 60px;
}

textarea.response {
    margin-left: 20px;
    min-height: 40px;
    width: 100%;
    height: 40px;
    transition: all 0.2s ease 0s;
}