.form {
	border-radius: 5px;
	bottom: 0;
	z-index: 100;
	display: block;
	margin: 5% 18%;
	padding: 5%;
	position: relative;
	/*position: absolute;*/
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(255, 255, 255, 0.6);
	/* Black w/opacity/see-through */
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgb(189, 189, 189);
}

input{
	white-space: normal;
}

#hide{
	display: none;
}

.container{
	border: 1px  solid #333;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

