html {
	height: max-content;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card {
	display: flex;
	margin:30px 0px;
	border-radius: 5px;
	flex-direction: column;
	padding: 0px 20px 20px 20px;
}

.select-menu, .input-field {
	display: flex;
	flex-direction: column;
}

.confirm-field {
	padding: 20px;
	justify-content: space-around;
	display: flex;
	flex-direction: row;

}
.confirm-field input{
	width: 150px;
}


.confirm-field>div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-bar {
	display: flex;
}
.passwordType{
	border-bottom: 2px solid rgb(80, 80, 80);
}
.passwordType input{
 	border-bottom: none;
}

ul {
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: center;
}

li {
	display: inline-flex;
	padding: 10px;
}

.input-bar img {
	width: 52px;
	object-fit: contain;
	background-color: #f9f0f0;
	border-radius: 0px;
}

label {
	display: flex;
	align-items: center;
	flex-direction: row;
}

label >* {
	margin: 10px 0px;
}

.checkbox {
	display: flex;
	margin: 5px;
	width: auto;
}