html, body {
  margin: 0;
  padding: 0;
}

#actionButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  position: relative;
}

li {
  list-style: none;
}

.button4 {
  background-color: grey;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  min-width: 150px;
  border-radius: 30px;

}

.button5 {
  background-color: #aa3558;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 30px;
}

.button3 {
  background-color: #aa3558;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 150px;
  border-radius: 30px;
}

#globalPage {
  display: block;
}

table {
  overflow: auto;
  margin-top: 5px;
  width: 100%;
  border-spacing: 0px 30px;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 20px;
  font-size: 40px;
}

input[type='text'] {
  background-color: white;
  border: none;
  font-size: 20px;
}

#gestionUtilisateur {
  height: max(calc(100vh - 340px),100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.text2 {
  border-bottom: solid purple;
}

#subTable {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.page-item {
  border: 1px solid black;
  padding: 8px;
  margin: 0 4px;
  font-size: 35px;
  text-align: center;
  border-radius: 5px;
}

.page-items {
  border: 1px solid black;
  padding: 8px;
  margin: 0 4px;
  font-size: 35px;
  text-align: center;
  border-radius: 5px;
}

div {
  border: 2px border black;
}

td, th {
  padding-left: 20px;
  padding-right: 20px;
}

form {
  text-align: center;
  display: flex;
  flex-direction: row;
}


textarea {
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
}

select {
  padding-top: 1%;
  padding-bottom: 1%;
}

.main {
  display: flex;
  justify-content: center;
  height: auto;
}




@media only screen and (max-width: 800px) {
  table {
    border-spacing: 0px 10px;
    font-size: 10px;
  }
  td, th {
    padding-left: 2px;
    padding-right: 2px;
  }
}