.forum-background {
    min-height: 80vh;
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.forum-container {
    width: 80%;
    min-height: 100%;
}

.forum-header {
    padding: 0px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forum-body {
    border-radius: 5px;
    min-height: 50vh;
    margin-top: 20px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.forum-body > div {
 margin: 20px 0px;
}

.input-container {
    display: flex;
    flex-direction: column;
}
input, textarea {
    width: auto;
}

.forum-submit {
    display: flex;
    justify-content: right;
}

.must-fill {
    font-size: 12px;
    color: red;
    display: none;
}