

html, body {
 margin:0;
 padding:0;
 }


body{
	position: relative;
}

#doctorPage{
	background-color: rgba(177, 88, 158,0.45);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 600px;
	margin-right: 3%;
	max-height: 725px;
}

h1{
	margin: 0px;
}


#consultButton{
	margin-right: 2%;
	margin-left: 2%;
	display: flex;
	justify-content: space-between;
}

header{
	text-align: center;
	padding-top: 3%;
}

.graph{
	text-align: center;
	border-radius: 15px;
	padding-right: 1%;
	padding-left: 1%;
	margin-right: 5%;
}




#myDataPage{
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
	flex-direction: row;
	justify-content: center;
	min-height:900px;

}
li{
	list-style: none;
}

#graphPage{
	margin-left: 3%;
	display: flex;
	flex-direction: column;
}

.subgraphPage{
	display: flex;
	flex-direction: row;
}

a{
	text-decoration-line: none;
	cursor:pointer;
}



.button4 {
  border-radius: 20px;
  background-color: #B1589E;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor:pointer;
}


.subgraphPage img{
	width: 280px;
	height:280px;


}

#doctorData img {
	max-height: 60%;
	max-width: 100%;
}


#doctorData{
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	justify-content: space-around;
}

#sepator1{
  color: white;
  background-color: white;
  width: 100px; 
  margin-bottom: 40px;
  border:none;
}

#graphPage h1{
	padding-top: 15%;
}




@media only screen and (max-width: 1300px) {

#myDataPage{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0%;


}

.subgraphPage{
	margin-top: 10%;
	display: flex;
	justify-content: space-around;
}

.graph{
	margin-left: 2%;
	margin-right: 2%;

}

#graphPage{
	margin-left:0%;
	margin-bottom: 10%;
}


#doctorPage{
	margin-right: 0%;

}

#UserImage{
	margin-left: 2%;
}
#doctorLabel{
	margin-right: 2%;
}




@media only screen  and (max-width: 550px) {
	
	.subgraphPage{
	flex-direction: column;
}

.subgraphPage img{
	width: 250px;
	height:250px;

}

.subgraphPage{
	margin-top: 0%;
}

#graphPage{
	margin-top: 2%;
	margin-left:0%;
}



#graphPage h1{
	font-size: 20px;
	padding-left: 2%;
	padding-right: 2%;
}

#myDataPage{
	margin-bottom: 0%;

}

}

