@font-face {
    font-family: "poppins";
    src: url("../fonts/POPPINS-LIGHT.TTF") format("truetype"),
    url("../fonts/POPPINS-REGULAR.TTF") format("truetype"),
    url("../fonts/POPPINS-BOLD.TTF") format("truetype"),
    url("../fonts/POPPINS-EXTRABOLD.TTF") format("truetype");
    font-weight: lighter, normal, bold, bolder;
    font-display: swap;
}
html {
    font-family: poppins;
    font-weight: normal;
}

button, .button, h1 {
    font-weight: lighter;
}
.white-text {
    color: white;
}