html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card {
	display: flex;
	border-radius: 5px;
	flex-direction: column;
	padding: 0px 20px 20px 20px;
}

.select-menu, .input-field {
	display: flex;
	flex-direction: column;
}

.confirm-field {
	padding: 20px;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
}

.input-bar {
	display: flex;
}

ul {
	list-style: none;
	padding: 0px;
}

li {
	display: inline-flex;
	padding: 10px;
}