#Menu {
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
  background-color: #ffffff56;
}

a {
  text-decoration: none;
  color: black;
}

#psyfimenutext {
  display: none;
  margin-right: 10%;
  font-weight: bold;
  font-size: 150%;
}

.menuText {
  margin-left: 10px;
  margin-right: 10px;
}

.menuText:hover {
  text-underline-offset: 10px;
  text-decoration: underline #BB66BF 2px;
}

#psyfimenutext:hover {
  text-decoration: none;
}

#navbar {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

nav {
  border: none;
}

nav p, nav a, nav .button {
  font-size: 2vw;
}

@media (min-width: 550px) {
  nav p, nav a, nav .button {
    font-size: 15px;
  }
}

@media (min-width: 900px) {
  #psyfimenutext {
    display: flex;
  }
  nav p, nav a, nav .button {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  nav p, nav a, nav .button {
    font-size: 20px;
  }
}